services:
  web:
    build:
      context: ${CONTEXTO}
      dockerfile: ./dockerfiles/sweb/nginx/Dockerfile
    container_name: ${NOMBRE}
    ports:
      - "${PORT_WEB}:80"       # <--- Con guion
    env_file:
      - ./.env                 # <--- Con guion (recomendado)
    volumes:
      - ./logs:/root/logs      # <--- Con guion
    networks:
      netcarontewebnginx:
        ipv4_address: ${IP}

networks:
  netcarontewebnginx:
    ipam:
      driver: default
      config:        
        - subnet: ${SUBNET}